# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env
.DS_Store
workspace.code-workspace
authentication-service/authentication-service
logger-service/logger-service
customer-service/customer-service
.idea
.idea/wellpass.iml
.idea/vcs.xml
.idea/modules.xml
provider-service/provider-service
notification-service/notification-service
